.footer {
    &__links {
        height: 298px;
        display: flex;
        padding: 40px 20px 10px;
        @media screen and(max-width:302px) {
             display: none;
        }
        &-heading{
            
            font-weight: 400;
        }
        &-list {
            list-style: none;
            flex: 1 1;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;

            &__items{
                line-height: 2.4rem;
            }
            & a {
                color: #4d4d4d;
                cursor: pointer;
                
            }
        }
    }
    &__copy {
        height: 90px;
        background-color: inherit;

        &-wrapper {
            background-color: $black-navbar;
        }
    }
}
