.header {
    height: $header-height;
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
    flex: 1;
    display: flex;
    color: $color-white;
    @media screen and(max-width:674px) {
        height: auto;
    }
    &__content {
        display: flex;
        justify-content: flex-end;
        @media screen and(max-width:674px) {
            flex-direction: column;
        }
    }
    &__content {
        flex: 1;
        display: flex;
    }
    &__card {
        margin-top: 2rem;
        flex: 0 1 25%;
        background-color: black;
        padding: 55px 5px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        @media screen and (max-width: 1052px) {
            flex: 0 1 50%;
        }
        &-top{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            & img{
                height: auto;
                transform: translateY(-50%);
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            
            @media screen and (max-width: 1052px) {
                flex: 0 1 50%;
            }
        }
        &-price {
            font-size: 2.6rem;
            margin-bottom: 1.6rem;
        }
        &-download {
            font-size: 1.4rem;
            margin: 20px 6px 12px 0;
            @include btn-blue;
            text-align: center;
            cursor: pointer;
            width: 100%;
            padding:15px 20px 15px;
        }
        &-description {
            background-color: #fff;
            margin-top: 4rem;
            color: black;
            font-size: 2rem;
            padding: 10px 10px 10px 15px;

            & a{
                color: #009cff;
                text-decoration: underline;
                font-size: 1.4rem;
            }
        }
        &-offer{
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    }
}
.prod__info {
    align-self: center;
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    &-title {
        font-size: 2.9rem;
        text-transform: capitalize;
    }
    &-heading {
        font-size: 2.94rem;
        margin-bottom: 1rem;
    }
    &-list {
        list-style: none;
        margin: 2.5rem 0 3.5rem;
        &-items {
            font-size: 1.68rem;
            margin-bottom: 1rem;
        }
    }
}
