.key-pillars {
    min-height: 2176.38px;
    background-color: #222222;
    
    &-3{
       flex-direction: row-reverse; 
    }
    &-card{
        display: flex;
        align-items: center;
       
    }
    &-1{
        width: 60%;
         align-self: center;
        & img{
            width: 100%;
        }
    }
    &-card{
        &__text{
            font-size: 1.8rem;
            flex: 1;
            &-heading{
              margin: 2rem 0 1rem;
              font-size: 2.4rem;
          }
          &-description{
             margin: 1.8rem 0;
          }
        }

    }
    &__container{
            padding: 80px 0 60px;
            color: $color-white;
            display: flex;
            flex-direction: column;
    }
    &__text{
        text-align: center;
        margin-bottom: 6rem;
        &-heading{
          font-size: 3.6rem;
          margin: 2rem 0 1rem;
        }
        &-description{
          font-size: 1.8rem;
          margin: 1.8rem 0;
        }
    }
}