@mixin btn-blue{
    background: #009cff;
    border: 1px solid #009cff;
}
@mixin list-horizontal{
    display: flex;
    list-style: none;
}
@mixin list-navs {
    align-items: center;
    justify-content: space-between;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}