.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    background-color: $black-navbar;
}
.container {
    &-full{
      width: 100%;
      // da togliere
      display: flex;
    }
    &-center {
        flex: 1;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 29.1rem;
        display: flex;
    }
}




